/* global css  */
html {
  scroll-behavior: smooth;

}

body {
  background-color: hsl(0deg 0% 7%) !important;
}

a {
  text-decoration: none !important;
}

.line-height {
  line-height: 1.6;
}

/* @media(min-width>=1200) {
  ::-webkit-scrollbar-button {
    width: 50px;

  }

  ::-webkit-scrollbar {
    width: 15px;
  }

  ::-webkit-scrollbar-thumb {
    border-radius: 50px;
    background-color: hsla(240deg, 1%, 17%, 75%);
  }

  ::-webkit-scrollbar-track {
    border-radius: 50px;

  }
} */

/* colors in my portfolio  */
.section-bg {
  background-color: hsl(240deg 2% 12%) !important;
}

.secondary-bg {
  background-color: hsla(240deg, 1%, 17%, 75%) !important;
}

.orange-color {
  color: hsl(45deg 100% 72%) !important;
}

.orange2-color {
  color: hsl(45deg 54% 58%) !important
}

.light-gray-color {
  color: hsl(0deg 0% 84%) !important;
}

.white-color {
  color: hsl(0deg 0% 98%) !important
}

/* accoridion  */
.accordion-img {
  width: 150px;
  height: auto;
}

/* about page and tabs */
.border-radius-tabs {
  border-top-right-radius: 18px;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 18px;
  border-bottom-right-radius: 0px;
}

.main-border {
  border: 2px solid hsla(240deg, 1%, 17%, 75%);
}

.scroll {
  height: 100vh;
  position: sticky;
  top: 45px;
  overflow-y: scroll;
}

.scroll::-webkit-scrollbar {
  width: 5px;
}

.modal-scroll::-webkit-scrollbar {
  width: 5px;
}

.box {
  box-shadow: 1px 1px 0px #484848 inset
}

.position-r {
  position: relative;
}

.tabs {
  position: absolute;
  top: 0px;
  right: 0px;
}


/* resume page  */
.bullet>::before {
  content: "";
  position: absolute;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: hsl(45deg 100% 72%);
  outline: 5px solid hsla(240deg, 1%, 17%, 75%);
  left: -48px;
  top: 8px;
  z-index: 2;

}

.bullet>li:not(:last-of-type)::after {
  content: "";
  position: absolute;
  width: 2px;
  height: calc(100% + 53px);
  background-color: hsla(240deg, 1%, 17%, 75%);
  left: -43px;
  top: -24px;


}

/* projects  */

.project:hover {
  transform: scale(1.1);
}

.project:hover .btn-eye {
  display: block !important;
}

.project {
  transition: 1s;
}



/* remove border in tabs  */
.MuiTabs-indicator {
  display: none !important;
}

/* .MuiTab-root{
min-width: 0;
} */

/* contact form  */

input,
textarea {
  caret-color: hsl(45deg 100% 72%);
  color: hsl(0deg 0% 98%);
}

.border-orange:focus {
  border: 1px solid hsl(45deg 100% 72%) !important;
}

input:focus,
textarea:focus {
  border: 1px solid red;
  outline: none;
}

.form-btn-not-allowed {
  cursor: not-allowed !important;
}



.MuiTabs-flexContainer {
  justify-content: center;
}


/* responsive */

/* small devices  */
@media(max-width: 576px) {
  .accordion-img {
    width: 100px;
    height: auto;
  }
}

@media(max-width: 768px) {
  .p-sm {
    padding: 8px 8px 72px !important;
  }

  .w-sm {
    width: 90% !important;
  }

  .h-sm {
    height: 70vh !important;
  }
}


/* medium devices  */
@media(min-width: 768px) {
  .p-md {
    padding: 45px 100px 109px !important;
  }

}


/* xl devices */
@media(min-width: 1200px) {
  .p-xl {
    padding: 45px 100px !important;
  }
}


@media(max-width: 1200px) {
  .tabs-sm {
    bottom: 0;
    top: auto !important;
    position: fixed !important;
    z-index: 3;
    width: 100%;
    background-color: hsl(240deg 2% 12%) !important;
    right: 0;
  }

  .position-r {
    display: block;
  }

  .border-radius-tabs2 {
    border-top-right-radius: 18px;
    border-top-left-radius: 18px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
  }
}